<?xml version="1.0" encoding="UTF-8"?>
<included>

    <!-- include everything in this project at debug level -->
    <logger name="io.cloudsoft.terraform" level="DEBUG"/>    
    
    <!-- logfile named after this project -->
    <property name="logging.basename" scope="context" value="brooklyn-terraform" />

</included>
